@model KarolCamp.Dominio.Trilha

@{
    ViewBag.Title = "Cadastrar";
}

<div class="page-header">
    <h1>Trilha <small>organize as trilhas de suas palestras</small></h1>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nova Trilha</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <hr />
        <p>
            <input type="submit" value="Salvar" class="btn btn-sm btn-info" />
            <a href="@Url.Action("Index")"> Cancelar</a>
        </p>
    </fieldset>
}