@using KarolCamp.Dominio
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Karol Camp</h1>
    <p>Sistema para gerenciar palestras, trilhas, salas e muito mais!</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Palestrantes
            </div>
            <p class="panel-body">
                @foreach (var palestrante in (List<Palestrante>)ViewBag.Palestrantes)
                {
                    <a href="@Url.Action("Detalhe","Palestrante", new { id = palestrante.Id })">
                        <img src="/Home/Arquivo/?id=@palestrante.FotoId" width="150px" class="img-thumbnail" title="@palestrante.Nome" alt="@palestrante.Nome">
                    </a>
                }

            </p>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var palestra in (List<Palestra>)ViewBag.Palestras)
    {
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <small>Palestra</small> <strong>@palestra.Titulo</strong>
                </div>
                <div class="panel-body">
                    @palestra.Descricao
                    <br/><br />
                    <em>Nível: </em>@palestra.Nivel<br />
                    <em>Sala: </em>@palestra.Sala.Nome<br/>
                    <em>Trilha: </em>@palestra.Trilha.Nome
                </div>
                <div class="panel-footer">
                    @palestra.Palestrante.Nome
                </div>
            </div>
        </div>
    }
</div>
