@model KarolCamp.Dominio.Palestra

@{
    ViewBag.Title = "Palestra - Detalhe";
}

<div class="page-header">
    <h1>Palestra <small>organize suas palestras</small></h1>
    <a href="@Url.Action("Cadastrar")" class="btn btn-sm btn-primary">Nova palestra</a>
</div>

<fieldset>
    <legend>Detalhes da Palestra</legend>
    <div class="form-group">
        <p><strong>Código: </strong> @Html.DisplayFor(model => model.Codigo)</p>
        <p><strong>Nível: </strong> @Html.DisplayFor(model => model.Nivel)</p>
        <p><strong>Título: </strong> @Html.DisplayFor(model => model.Titulo)</p>
        <p><strong>Descrição: </strong> @Html.DisplayFor(model => model.Descricao)</p>
        <p><strong>Trilha: </strong> @Html.DisplayFor(model => model.Trilha.Nome)</p>
        <p><strong>Palestrante: </strong> @Html.DisplayFor(model => model.Palestrante.Nome)</p>
        <p><strong>Horário: </strong> @Html.DisplayFor(model => model.Horario)</p>
        <p><strong>Sala: </strong> @Html.DisplayFor(model => model.Sala.Nome)</p>
    </div>
</fieldset>
<hr />
<p>
    <a href="@Url.Action("Editar", new { id = Model.Id })" class="btn btn-sm btn-info">Editar</a>
    <a href="@Url.Action("Index")"> Voltar</a>
</p>