@model IEnumerable<KarolCamp.Dominio.Palestra>

@{
    ViewBag.Title = "Palestra";
}

<div class="page-header">
    <h1>Palestra <small>organize suas palestras</small></h1>
    <a href="@Url.Action("Cadastrar")" class="btn btn-sm btn-primary">Nova palestra</a>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Palestras cadastradas
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Nível</th>
                            <th>Título</th>
                            <th>Trilha</th>
                            <th>Horário</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ var x = 0;}
                        @foreach (var item in Model)
                        {
                            x++;
                            <tr>
                                <td style="width: 50px">@x</td>
                                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nivel)</td>
                                <td><a href="@Url.Action("Detalhe", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Titulo)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.Trilha.Nome)</td>
                                <td>@Html.DisplayFor(modelItem => item.Horario)</td>
                                <td style="width: 100px">
                                    <a href="@Url.Action("Editar", new { id = item.Id })" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="@Url.Action("Deletar", new { id = item.Id })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>