<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/base")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sammy", "~/bundles/require")

</head>
<body>
    <div id="loader" class="alert alert-info" style="position: absolute; top: 5px; left: 50%; z-index: 10000; display: none; height: 44px;">
        <h4>Aguarde...</h4>
    </div>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="~/SPA#/">Karol Camp - SPA</a>
            </div>

            <div class="collapse navbar-collapse header-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/SPA#/trilha">Trilha</a></li>
                    <li><a href="~/SPA#/sala">Sala</a></li>
                    <li><a href="~/SPA#/palestrante">Palestrante</a></li>
                    <li><a href="~/SPA#/palestra">Palestra</a></li>
                </ul>
                <p class="navbar-text navbar-right">Código fonte em <a href="https://github.com/cleytonferrari/karolcamp" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script type="text/javascript">
        (function () {
            require(["/Scripts/AppSPA/main.js"], function () {
                require(["router"]);
            });
        })();
    </script>

</body>
</html>
