@model KarolCamp.Dominio.Palestrante

@{
    ViewBag.Title = "";
}

    <form method="POST" action="/Palestrante/Cadastrar" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Palestrante</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Twitter)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Twitter)
                @Html.ValidationMessageFor(model => model.Twitter)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Bio)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Bio)
                @Html.ValidationMessageFor(model => model.Bio)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FotoId)
            </div>
            <div class="editor-field">
                <input type="file" value="" id="foto" name="foto" />
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    </form>
    
    <div>
        @Html.ActionLink("Cancelar", "Index")
    </div>
