@model KarolCamp.Dominio.Palestrante

@{
    ViewBag.Title = "";
}

    <fieldset>
        <legend>Palestrante</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Twitter)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Twitter)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Bio)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Bio)
        </div>
    
        <div class="display-label">
             <img src="/Home/Arquivo/?id=@Model.FotoId" width="120px"/>
        </div>
        
    </fieldset>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id=Model.Id }) |
        @Html.ActionLink("Cancelar", "Index")
    </p>
