@model KarolCamp.Dominio.Palestrante

@{
    ViewBag.Title = "";
}
<div class="page-header">
    <h1>Palestrantes <small>organize os palestrantes de suas palestras</small></h1>
    <a href="@Url.Action("Cadastrar")" class="btn btn-sm btn-primary">Novo palestrante</a>
</div>
<form method="POST" action="/Palestrante/Editar" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Palestrante</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Twitter)
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bio)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Bio)
            @Html.ValidationMessageFor(model => model.Bio)
        </div>
        <div class="editor-label">
            <label>Foto</label>
        </div>
        <div class="editor-field">
            <input type="file" value="" id="foto" name="foto" />
        </div>
        <div class="display-label">
            <img src="/Home/Arquivo/?id=@Model.FotoId" width="120px" />
        </div>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.FotoId)

        <hr />
        <p>
            <input type="submit" value="Salvar" class="btn btn-sm btn-info" />
            <a href="@Url.Action("Index")"> Cancelar</a>
        </p>
    </fieldset>
</form>