@model IEnumerable<KarolCamp.UI.Web.Models.Palestrante>

@{
    ViewBag.Title = "";
}


    <p>
        @Html.ActionLink("Cadastrar", "Cadastrar")
    </p>
    <table>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="/Home/Arquivo/?id=@item.FotoId" width="60px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Editar", new { id=item.Id }) |
                @Html.ActionLink("Details", "Detalhe", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Deletar", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>

