@model IEnumerable<KarolCamp.UI.Web.Models.Palestrante>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Cadastrar", "Cadastrar")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id=item.Id }) |
                @Html.ActionLink("Details", "Detalhe", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Deletar", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
